In [1]:
import os
import json

import numpy as np
import pandas as pd

DIR = r'/home/faruk/Projects/HeartFailiureDiagnosis/'

In [2]:
zdravi = pd.read_csv('Copy of Final - baza zdravih osoba.xlsx - List 1.csv')
#df = d.values

In [3]:
display(zdravi.head())

,Godine,Spol,HOPB,Troponin,CystatinC,CA125,LAV,PAP,MR,TR,"E/e""",TAPSE,df,Kreatinin,eGFR,HGB,Na,Holesterol,Albumini,CKD
0,82,1,1,14,"0,34",21,12,9,3,1,2,21,0,"82,9",114,159,137,"1,3",44,1
1,80,2,1,14,"0,31",12,21,34,4,1,5,19,0,"92,8",100,163,140,"2,5",46,1
2,42,1,2,14,"0,22",0,5,38,4,4,7,21,0,"100,0",88,163,136,"4,2",49,2
3,43,1,1,14,"0,34",19,6,15,3,3,21,21,0,"116,1",97,156,141,"1,2",43,1
4,44,2,2,14,"0,65",1,26,34,4,2,17,20,0,"82,5",127,154,139,"3,3",38,1

In [4]:
pacijenti = pd.read_csv('Copy of HF baza pacijenata-uređeno.xlsx - List 1.csv')
#pacijenti.rename(columns = {'spol m-1, z-2':'spol m-1, z-2'}, inplace = True)

In [5]:
display(pacijenti.head())

,godine,spo,HOPB,Troponin,CystatinC,CA125,LAV,PAP,MR,TR,"E/e""",df,TAPSE,kreatinin,eGFR,CKD,HGB,Na,holesterol,albumini
0,78,1,2.0,430,"2,28","469,7",100,40.0,"2, 0",1,12.0,2.0,9.0,209,28,4,137,131.0,"4,7",32.0
1,54,2,2.0,"20,7","1,05","253,9",60,41.0,2,2,7.0,1.0,18.0,73,77,2,147,140.0,"3,5",33.0
2,63,1,2.0,55,"1,97","251,6",124,40.0,2,1,12.0,2.0,18.0,138,48,3a,115,138.0,"3,4",27.0
3,80,1,2.0,724,"2,12","234,1",89,40.0,2,2,17.0,3.0,10.0,154,40,3b,128,143.0,"4,8",34.0
4,57,2,2.0,67,"1,39",489,68,30.0,1,1,6.0,1.0,14.0,55,105,1,135,139.0,"3,7",26.0

In [6]:
zdravi['status'] = 0
pacijenti['status'] = 1

In [7]:
zd_godine = zdravi['Godine'].values
pc_godine = pacijenti['godine'].values

In [8]:
godine = np.concatenate([zd_godine, pc_godine])

In [9]:
spol = np.concatenate([zdravi['Spol'].values, pacijenti['spo'].values])

In [10]:
hopb = np.concatenate([zdravi['HOPB'].values, pacijenti['HOPB'].values])

In [11]:
display(pacijenti.head())

,godine,spo,HOPB,Troponin,CystatinC,CA125,LAV,PAP,MR,TR,...,df,TAPSE,kreatinin,eGFR,CKD,HGB,Na,holesterol,albumini,status
0,78,1,2.0,430,"2,28","469,7",100,40.0,"2, 0",1,...,2.0,9.0,209,28,4,137,131.0,"4,7",32.0,1
1,54,2,2.0,"20,7","1,05","253,9",60,41.0,2,2,...,1.0,18.0,73,77,2,147,140.0,"3,5",33.0,1
2,63,1,2.0,55,"1,97","251,6",124,40.0,2,1,...,2.0,18.0,138,48,3a,115,138.0,"3,4",27.0,1
3,80,1,2.0,724,"2,12","234,1",89,40.0,2,2,...,3.0,10.0,154,40,3b,128,143.0,"4,8",34.0,1
4,57,2,2.0,67,"1,39",489,68,30.0,1,1,...,1.0,14.0,55,105,1,135,139.0,"3,7",26.0,1

In [12]:
troponin = np.concatenate([zdravi['Troponin'].values, pacijenti['Troponin'].values])
hopb = np.concatenate([zdravi['CystatinC'].values, pacijenti['CystatinC'].values])
ca125 = np.concatenate([zdravi['CA125'].values, pacijenti['CA125'].values])
lav = np.concatenate([zdravi['LAV'].values, pacijenti['LAV'].values])
pap = np.concatenate([zdravi['PAP'].values, pacijenti['PAP'].values])
mr = np.concatenate([zdravi['MR'].values, pacijenti['MR'].values])
tr = np.concatenate([zdravi['TR'].values, pacijenti['TR'].values])
df = np.concatenate([zdravi['df'].values, pacijenti['df'].values])
tapse = np.concatenate([zdravi['TAPSE'].values, pacijenti['TAPSE'].values])
kreatinin = np.concatenate([zdravi['Kreatinin'].values, pacijenti['kreatinin'].values])
egfr = np.concatenate([zdravi['eGFR'].values, pacijenti['eGFR'].values])
ckd = np.concatenate([zdravi['HGB'].values, pacijenti['CKD'].values])
hgb = np.concatenate([zdravi['Na'].values, pacijenti['HGB'].values])
na = np.concatenate([zdravi['Holesterol'].values, pacijenti['Na'].values])
holesterol = np.concatenate([zdravi['Albumini'].values, pacijenti['holesterol'].values])
albumini = np.concatenate([zdravi['CKD'].values, pacijenti['albumini'].values])
status = np.concatenate([zdravi['status'].values, pacijenti['status'].values])

In [35]:
len(troponin)

384

In [103]:
155 + 33 + 33

221

In [39]:
len(zdravi)

162

In [20]:
train_zdr = 113
train_pac = 155
test_zdr = 24
test_pas = 33

train_set_pac = []
train_set_zdr = []

In [21]:
for i in range(0, train_zdr):
    train_set_zdr.append((
        godine[i],
        spol[i],
        hopb[i],
        troponin[i],
        hopb[i],
        lav[i],
        pap[i],
        mr[i],
        tr[i],
        df[i],
        tapse[i],
        kreatinin[i],
        egfr[i],
        ckd[i],
        hgb[i],
        na[i],
        holesterol[i],
        albumini[i],
    ))

In [22]:
print(len(train_set_zdr))

113

In [24]:
for i in range(229, len(godine)):
    train_set_pac.append((
        godine[i],
        spol[i],
        hopb[i],
        troponin[i],
        hopb[i],
        lav[i],
        pap[i],
        mr[i],
        tr[i],
        df[i],
        tapse[i],
        kreatinin[i],
        egfr[i],
        ckd[i],
        hgb[i],
        na[i],
        holesterol[i],
        albumini[i],
    ))

In [25]:
print(len(train_set_pac))

155

In [26]:
verification_set_zdr = []
verification_set_pac = []
test_set_zdr = []
test_set_pac = []

In [27]:
for i in range(train_zdr, train_zdr+test_zdr):
    verification_set_zdr.append((
        godine[i],
        spol[i],
        hopb[i],
        troponin[i],
        hopb[i],
        lav[i],
        pap[i],
        mr[i],
        tr[i],
        df[i],
        tapse[i],
        kreatinin[i],
        egfr[i],
        ckd[i],
        hgb[i],
        na[i],
        holesterol[i],
        albumini[i],
    ))

In [28]:
for i in range(196, 229):
    verification_set_pac.append((
        godine[i],
        spol[i],
        hopb[i],
        troponin[i],
        hopb[i],
        lav[i],
        pap[i],
        mr[i],
        tr[i],
        df[i],
        tapse[i],
        kreatinin[i],
        egfr[i],
        ckd[i],
        hgb[i],
        na[i],
        holesterol[i],
        albumini[i],
    ))

In [29]:
print(len(verification_set_pac))
print(len(verification_set_zdr))

33
24

In [30]:
for i in range(train_zdr+test_zdr, train_zdr+2*test_zdr):
    test_set_zdr.append((
        godine[i],
        spol[i],
        hopb[i],
        troponin[i],
        hopb[i],
        lav[i],
        pap[i],
        mr[i],
        tr[i],
        df[i],
        tapse[i],
        kreatinin[i],
        egfr[i],
        ckd[i],
        hgb[i],
        na[i],
        holesterol[i],
        albumini[i],
    ))

In [31]:
for i in range(163, 196):
    test_set_pac.append((
        godine[i],
        spol[i],
        hopb[i],
        troponin[i],
        hopb[i],
        lav[i],
        pap[i],
        mr[i],
        tr[i],
        df[i],
        tapse[i],
        kreatinin[i],
        egfr[i],
        ckd[i],
        hgb[i],
        na[i],
        holesterol[i],
        albumini[i],
    ))

In [32]:
print(len(test_set_pac))
print(len(test_set_zdr))

33
24

In [34]:
train_set = train_set_pac + train_set_zdr
verification_set = verification_set_zdr + verification_set_pac
test_set = test_set_pac + test_set_zdr

In [36]:
print(len(train_set))
print(len(verification_set))
print(len(test_set))

268
57
57

In [39]:
print(pacijenti.ndim)

2